body {
    background: #eee;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}
input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.success {
    border: 1px solid limegreen;
    border-radius: 2px;
}
.error {
    border: 1px solid crimson;
    border-radius: 2px;
}
